.App {
  background-color: #cc6b49;
}

.blender__div{
  width: 100%;
  margin: auto;
}

.blender__image{
  width: 100%;
}

.message__div{
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  padding: 8px;
  font-size: 15px;
  margin: 16px auto auto auto;
  /* margin: 16px auto; */
}

.header__h1{
  color: #d2a246;
  text-align: center;
}

.content__p{
  color: #ece6c2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (min-width: 768px) {
  .blender__div{
    padding: 32px 0;
    max-width: 600px;
  }

  .message__div{
    max-width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .blender__div{
    max-width: 750px;
  }

  .message__div{
    max-width: 500px;
  }
}

@media only screen and (min-width: 1440px) {

  .message__div{
    max-width: 500px;
  }
}
